# Problem 1 resolution

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

lego_sets = pd.read_csv("datasets/lego_sets.csv")
parent_themes = pd.read_csv("datasets/parent_themes.csv")

lego_sets.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [3]:
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

lego_sets ser√° chamado de ls

In [4]:
ls_without_missing_values = lego_sets.dropna(subset=['set_num'])

In [5]:
lego_sets.info()
ls_without_missing_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 11833 entries, 0 to 11832
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     6835 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 647.1+ KB

mdf = Merged DataFrame

In [6]:
mdf = ls_without_missing_values.merge(parent_themes, left_on='parent_theme', right_on='name')
mdf.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [7]:
mdf['parent_theme'].unique()

array(['Legoland', 'Town', 'Castle', 'Space', 'Classic', 'Gear',
       'Universal Building Set', 'Train', 'Bulk Bricks', 'Star Wars',
       'Hobby Sets', 'Bionicle', 'Sculptures', 'Discovery', 'Pirates',
       'Seasonal', 'Super Heroes', 'Clikits', 'Sports', 'Harry Potter',
       'Model Team', 'Other', 'Modular Buildings', 'Factory',
       'Service Packs', 'Monster Fighters',
       'The Hobbit and Lord of the Rings', 'Creator', 'Adventurers',
       'Mindstorms', 'Technic', 'Educational and Dacta', 'Duplo',
       'Disney Princess', 'Juniors', 'Friends', 'Aquazone', 'Ninja',
       'Minitalia', 'Books', 'Ninjago', 'Hero Factory', 'Racers',
       'Fabuland', 'Rock Raiders', 'Studios', 'Alpha Team', '4 Juniors',
       'Building Set with People', 'Boat', 'Value Packs', 'Freestyle',
       'Time Cruisers', 'Indiana Jones', 'Master Building Academy',
       'FIRST LEGO League', 'Atlantis', 'Prince of Persia',
       'Architecture', 'LEGO Ideas and CUUSOO', 'Minecraft', 'Fusion',
       'Homemaker', 'Elves', 'Belville', 'Nexo Knights', 'Western',
       'Promotional', 'Toy Story', "Pharaoh's Quest", 'Cars',
       'Pirates of the Caribbean', 'Legends of Chima', 'The Lone Ranger',
       'Teenage Mutant Ninja Turtles', 'The LEGO Movie', 'Jurassic World',
       'Scooby-Doo', 'Designer Sets', 'LEGO Brand Store',
       'Island Xtreme Stunts', 'Znap', "Disney's Mickey Mouse",
       'Spybiotics', 'SpongeBob SquarePants', 'Avatar', 'Exo-Force',
       'Legoland Parks', 'Inventor', 'Brickheadz', 'Mixels', 'X-Pod',
       'Power Miners', 'Collectible Minifigures', 'Speed Champions',
       'Agents', 'LEGO Exclusive', 'Universe', 'Dino', 'Dinosaurs',
       'Vikings', 'Disney', 'Dimensions', 'Dino 2010', 'Dino Attack',
       'Angry Birds', 'Ghostbusters', 'Power Functions', 'Ben 10'],
      dtype=object)

In [8]:
number_of_lines_star = mdf.query('parent_theme == "Star Wars" & is_licensed == True').shape[0]
mdf_licensiado = mdf.query('is_licensed == True')
number_of_lines_licensed = mdf_licensiado.shape[0]
print(number_of_lines_star, number_of_lines_licensed)

609 1179

In [9]:
the_force_float = 609/1179
print(the_force_float)
the_force = int(str(the_force_float)[2:4])
print(the_force)

0.5165394402035624
51

## Answer: the_force = 51%

# Problem 2 resolution

In [11]:
mdf_pivot = mdf_licensiado.pivot_table(index='year', columns='parent_theme', values='set_num', aggfunc='count')

In [14]:
new_era = (mdf_pivot[mdf_pivot['Star Wars'] < mdf_pivot.max(axis=1)]).index[0]
print(new_era)

2017

## Answer: new_era = 2017